.navbar{
    display: flex;
    padding: 10px 15px;
    column-gap: 5px;
    justify-content: space-between;
    flex-direction: row;
    background-color: darkblue;
    align-items: center;
}
.nav-item-container{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.nav-item{
    color:aliceblue;
}
.robux{
    color: red;
}
*{
    font-family: monospace;
    font-weight: bold;
}
footer{
    background-color: darkblue;
    color: aliceblue;
    font-size: 20px;
    text-align: right;
    padding-right: 40px;
    border: 4px black solid;
}
h1{
    text-align: center;
}
.me{
    margin: 3px 41px;
    font-size: 18px;
}
.my-social{
    margin: 10px;
    padding: 0px;
    border: 0px;
}